<h1>Welcom to Chatting App</h1>

<div ng-controller="CommentCtrl">

	<form ng-submit="addComment()">
		<input type="text" ng-model="newComment.content">
		<input type="submit" value="Add">
	</form>

	{{newComment.content}}


	<ul>
		<li ng-repeat="comment in comments">
			{{comment.content}}
		</li>
	</ul>

</div>